<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-vuelo-heading" data-cy="VueloCreateUpdateHeading" jhiTranslate="pingeonControlApp.vuelo.home.createOrEditLabel">
        Create or edit a Vuelo
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" jhiTranslate="pingeonControlApp.vuelo.fecha" for="field_fecha">Fecha</label>
          <div class="d-flex">
            <input
              id="field_fecha"
              data-cy="fecha"
              type="datetime-local"
              class="form-control"
              name="fecha"
              formControlName="fecha"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          @if (editForm.get('fecha')!.invalid && (editForm.get('fecha')!.dirty || editForm.get('fecha')!.touched)) {
            <div>
              @if (editForm.get('fecha')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('fecha')?.errors?.datetimelocal"
                jhiTranslate="entity.validation.datetimelocal"
                >This field should be a date and time.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="pingeonControlApp.vuelo.descripcion" for="field_descripcion">Descripcion</label>
          <input
            type="text"
            class="form-control"
            name="descripcion"
            id="field_descripcion"
            data-cy="descripcion"
            formControlName="descripcion"
          />
          @if (editForm.get('descripcion')!.invalid && (editForm.get('descripcion')!.dirty || editForm.get('descripcion')!.touched)) {
            <div>
              @if (editForm.get('descripcion')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="pingeonControlApp.vuelo.competencia" for="field_competencia">Competencia</label>
          <input
            type="text"
            class="form-control"
            name="competencia"
            id="field_competencia"
            data-cy="competencia"
            formControlName="competencia"
          />
          @if (editForm.get('competencia')!.invalid && (editForm.get('competencia')!.dirty || editForm.get('competencia')!.touched)) {
            <div>
              @if (editForm.get('competencia')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="pingeonControlApp.vuelo.campeonato" for="field_campeonato">Campeonato</label>
          <input
            type="text"
            class="form-control"
            name="campeonato"
            id="field_campeonato"
            data-cy="campeonato"
            formControlName="campeonato"
          />
          @if (editForm.get('campeonato')!.invalid && (editForm.get('campeonato')!.dirty || editForm.get('campeonato')!.touched)) {
            <div>
              @if (editForm.get('campeonato')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="pingeonControlApp.vuelo.paradero" for="field_paradero">Paradero</label>
          <select
            class="form-control"
            id="field_paradero"
            data-cy="paradero"
            name="paradero"
            formControlName="paradero"
            [compareWith]="compareParadero"
          >
            <option [ngValue]="null"></option>
            @for (paraderoOption of paraderosSharedCollection; track $index) {
              <option [ngValue]="paraderoOption">{{ paraderoOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
