<div>
  <h2 id="page-heading" data-cy="ParaderoHeading">
    <span jhiTranslate="pingeonControlApp.paradero.home.title">Paraderos</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="pingeonControlApp.paradero.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-paradero"
        [routerLink]="['/paradero/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="pingeonControlApp.paradero.home.createLabel">Create a new Paradero</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (paraderos?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="pingeonControlApp.paradero.home.notFound">No Paraderos found</span>
    </div>
  }

  @if (paraderos && paraderos.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="nombreParadero">
              <div class="d-flex">
                <span jhiTranslate="pingeonControlApp.paradero.nombreParadero">Nombre Paradero</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="distanciaMedia">
              <div class="d-flex">
                <span jhiTranslate="pingeonControlApp.paradero.distanciaMedia">Distancia Media</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="latitud">
              <div class="d-flex">
                <span jhiTranslate="pingeonControlApp.paradero.latitud">Latitud</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="longitud">
              <div class="d-flex">
                <span jhiTranslate="pingeonControlApp.paradero.longitud">Longitud</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="sociedad.id">
              <div class="d-flex">
                <span jhiTranslate="pingeonControlApp.paradero.sociedad">Sociedad</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (paradero of paraderos; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/paradero', paradero.id, 'view']">{{ paradero.id }}</a>
              </td>
              <td>{{ paradero.nombreParadero }}</td>
              <td>{{ paradero.distanciaMedia }}</td>
              <td>{{ paradero.latitud }}</td>
              <td>{{ paradero.longitud }}</td>
              <td>
                @if (paradero.sociedad) {
                  <div>
                    <a [routerLink]="['/sociedad', paradero.sociedad.id, 'view']">{{ paradero.sociedad.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/paradero', paradero.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/paradero', paradero.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(paradero)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
