<div>
  <h2 id="page-heading" data-cy="MunicipioHeading">
    <span jhiTranslate="pingeonControlApp.municipio.home.title">Municipios</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="pingeonControlApp.municipio.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-municipio"
        [routerLink]="['/municipio/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="pingeonControlApp.municipio.home.createLabel">Create a new Municipio</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (municipios?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="pingeonControlApp.municipio.home.notFound">No Municipios found</span>
    </div>
  }

  @if (municipios && municipios.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="nombreMunicipio">
              <div class="d-flex">
                <span jhiTranslate="pingeonControlApp.municipio.nombreMunicipio">Nombre Municipio</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="provincia.id">
              <div class="d-flex">
                <span jhiTranslate="pingeonControlApp.municipio.provincia">Provincia</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (municipio of municipios; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/municipio', municipio.id, 'view']">{{ municipio.id }}</a>
              </td>
              <td>{{ municipio.nombreMunicipio }}</td>
              <td>
                @if (municipio.provincia) {
                  <div>
                    <a [routerLink]="['/provincia', municipio.provincia.id, 'view']">{{ municipio.provincia.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/municipio', municipio.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/municipio', municipio.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(municipio)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
